/* styles.css
    Basic styling for a web page including typography and code block formatting
*/

/* General Styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #444;
}

p {
    margin-bottom: 15px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.code-block {
    background-color: #272822;
    color: #f8f8f2;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: auto;
    margin: 5px 25px;
    width: 80em;
    min-height: 5em;
}

/* Header Styles */
header {
    background-color: #0073e6;
    color: #fff;
}

/* Navigation Styles */

nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav li a {
    color: #fff;
}

nav img {
    height: 50px;
    vertical-align: middle;
    margin-right: 50px;
    float: right;
}

/* Main Content Styles */
main {
    margin: 0 25px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
}

/* Typography Section Styles */

#typography {
    display: inline-block;
    padding: 10px;
    width: 45%;
}
#typography-examples {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin-left: 20px;
    padding: 20px;
    border: solid 1px #444;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#typography-examples h1, #typography-examples h2, #typography-examples h3 {
    text-align: center;
    font-family: Arial, sans-serif;
}
#typography-examples p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Colour Palette Section Styles */
#colors-section {
    margin-top: 30px;
}

#colors li{
    list-style: none;
    display: inline-block;
    margin: 15px;
    height: 100px;
    width: 200px;
    text-align: left;
    vertical-align: top;
    border: solid 2px #ccc;
    border-radius: 5px;
    padding: 10px;
}
.dark-grey {
    color: #303030;
}
.light-grey {
    color: #d3d3d3;  
}
.white {
    color: #f4f4f4;
}
.white-bg {
    background-color: #f4f4f4;
}
.dark-grey-bg {
    background-color: #303030;
}

/* Code Block Section Styles */
#code-block-section {
}
#code-block-article {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
#code-block-example-article {
    margin-bottom: 10px;
    display: inline-block;
}
/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}
